/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}


@font-face {
    font-family: Subjectivity;
    src: url('../font/Subjectivity-Regular.otf');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: Comico;
    src: url('../font/Comico-Regular.otf');
}

/* Mobile First CSS: we'll design for phone sizes first, then add media queries for tablets and desktop computers later */

body {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
    font-family: Subjectivity, sans-serif;
	
}

:root {
--white-color: #fffffe;
--green-color: #004643;
--teal-color: #abd1c6;
--yellow-color: #f9bc60;
--dark-green: #001e1d;
--red-color: #e16162;

--font-size-s: 0.9rem;
--font-size-n: 2rem;
--font-size-m: 3rem;
--font-size-l: 3.3331rem;
--font-size-xl: 3.6669rem;
--font-size-xxl: 4rem;
--font-size-xxxl: 5.3331rem;

--font-weight-normal: 400;
--font-weight-medium: 500;
--font-weight-semibold: 600;
--font-weight-bold: 700;

--border-radius-s: 8px;
--border-radius-m: 30px;
--border-radius-circle: 50%;

--site-max-width: 1300px;


}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    background: var(--green-color);
    box-shadow: 0px 0.5px 0px rgba(255, 255, 255, 0.2);

}

.navbar .nav-menu a {
    padding: 10px 18px;
    color: var(--white-color);
    font-size: var(--font-size-n);
    transition: 0.3s ease;
}

.navbar .nav-menu a:hover {
    padding: 10px 18px;
    color: #5c5c5c;
    font-size: var(--font-size-n);
}

header .navbar {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.navbar .nav-menu {
    display: flex;
    gap: 10px;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

img {
    width: 100%;
   
}

.section-content {
    margin: 0 auto;
    padding: 0 20px;
    max-width: var(--site-max-width);

}

.decorative-line {
    border: none;
  height: 3px;
  background-color: var(--white-color); /* very faint white */
  width: 100%;
  margin: 0;
}

.decorative-line-2 {
       border: none;
  height: 3px;
  background-color: var(--white-color); /* very faint white */
  width: 100%;
  margin: 0;
}

.slay-section {
    min-height: 100vh;
    background: var(--green-color);
}

.slay-section .section-content {
    display: flex;
    align-items: center;
    min-height: 100vh;
    color: var(--white-color);
    justify-content: center;
}

.slay-section .slay-details {
    padding: 100px;
    text-align: center;
    font-size: 1.9rem;
    line-height: normal;
}

.Likha {
color:var(--yellow-color);
font-family: Comico, sans-serif;

}

.slay-section .slay-details .button {
    padding: 10px 26px;
    background: var(--yellow-color);
    color: var(--white-color);
    border-radius: var(--border-radius-m);
    border: 2px solid transparent;
    transition: 0.3s ease;
}

.slay-section .slay-details .button:hover {
    color: var(--white-color);
    background: #C09149;

}

.slay-section .slay-details {
  padding: 50x;
}

#container {
	
}







/* Class for making YouTube/Vimeo videos responsive */

figure.responsive {
    position: relative;
    padding-bottom: 56.25%;  /* 16:9 */
    height: 0px;
    overflow: hidden;
    max-width: 100%;
}

figure.responsive iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}



/* A better looking default horizontal rule */
hr {
    display: block;
    height: 1px;
    border: 0px;
    border-top: 1px solid #ccc;
    margin: 1em 0px;
    padding: 0px;
}



/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */

@media screen and (max-width: 900px) {

  .navbar {
    flex-direction: column;
    align-items: center;
     text-align: center;
  }

  .navbar .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 0;
    background-color: var(--green-color);
     text-align: center;
  }

  .navbar .nav-item {
    width: 100%;
    padding: 10px 20px;
    text-align: center;
  }

  .navbar .nav-menu a {
     text-align: center;
    display: block;
    width: 100%;
    color: var(--white-color);
    font-size: 1.5rem;
    padding: 10px 0;
     
  }
	
}

/* Minimum width for portrait tablets and large phone screens.  */

@media all and (min-width: 600px) {
	

	
	
} /* closes 600px+ */



/* Minimum width for landscape laptops. */
@media all and (min-width: 768px) {
	
	
	
	
} /* closes 768px+ */



/* Minimum width for larger tablets, laptops and desktops. */
@media all and (min-width: 992px) {
	
	
} /* closes 992px+ */



/* Minimum width for larger desktops. */
@media all and (min-width: 1200px) {
	
	
	
	
} /* closes 1200px+ */



