/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

html {
    font-size: 1em;
    line-height: 1.4em;
}

body {
	background:white;
    font-family: Georgia, serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
}

	
#container {
	text-align: center;
	position: absolute;
	top: 10%;
	left: 50%
	transform: translate(-50%, -50%);
	width: 100%;
	}


#container span {
	color: black;
	text-transform: uppercase;
	display: block;
	}
	
	span.text1 {
	  font-family: "Rubik Bubbles", system-ui;
  font-weight: 400;
  font-style: normal;
		font-size:60px;
		font-weight:700;
		letter-spacing: 8px;
		margin-bottom: 50px;
		background: white;
		position:relative;
		animation: text 2s 1;
		}


span.text2 {
 font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
	font-size: 20px;
	color: black;
	}

span.gtkm {
	font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
	font-size: 20px;
	color: black;
	animation: fadeIn 2s 1;
	}


@keyframes text {
	0%{
		color: white;
		margin-bottom: -40px;
		}
	30%{
		letter-spacing: 25px;
		margin-bottom: -40px;
		}
	85% {
		letter-spacing: 8px;
		margin-bottom: -40px;
		}
	}

.fade-in {
    animation: fadeIn 1s ease-in forwards; /* Apply animation */
}

@keyframes fadeIn {
    from {
        opacity: 0; /* Start hidden */
    }
    to {
        opacity: 1; /* Fade in to fully visible */
    }
}

/*#container {
    color: black;
	display: block;
    width: 50%;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    text-align: center;
    position: relative; */
}


figure {
    margin: 0px;

}



figure img {
max-width: 100%; 
height: auto; 
animation: fadeIn 2s 1;
}

figcaption, footer {
	font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
	font-size: 20px;
	color: black;
    font-size: 0.75em;
	animation: fadeIn 2s 1;
}

nav ul {
    list-style: none;
    padding-left: 0px;
	/*border: 1px solid red;*/
	padding: 5px;
}

nav li {
	/*border: 1px solid black;*/
	display:inline-block;
	border-radius: 20%;
	}

nav a {
	background:#848a91;
    color: white;
	display:block;
	text-decoration:none;
	padding: 4px;
	transition: all 500ms;
		border-radius: 2%;
		animation: fadeIn 2s 1;
	
}

main nav a {
    color: white;
}

a:hover {
    color: black;
	background: white;
}


