/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
}

html {
	/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}

:root {
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
  }

  
  @keyframes backInLeft {
    0% {
      -webkit-transform: translateX(-2000px) scale(0.7);
      transform: translateX(-2000px) scale(0.7);
      opacity: 0.7;
    }
  
    80% {
      -webkit-transform: translateX(0px) scale(0.7);
      transform: translateX(0px) scale(0.7);
      opacity: 0.7;
    }
  
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
  }

  @-webkit-keyframes backInRight {
    0% {
      -webkit-transform: translateX(2000px) scale(0.7);
      transform: translateX(2000px) scale(0.7);
      opacity: 0.7;
    }
  
    80% {
      -webkit-transform: translateX(0px) scale(0.7);
      transform: translateX(0px) scale(0.7);
      opacity: 0.7;
    }
  
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
  }

  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }

/* Mobile First CSS: we'll design for phone sizes first, then add media queries for tablets and desktop computers later */
body {
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    background: rgb(238,174,202);
    background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    padding: 40px;
    
}

h1, h2 {
    background-color: white;
    animation: backInLeft 3s;



}

p {
    animation: fadeIn 10s;
}

footer {
    background-color: white;
    text-align: right;
    animation: backInRight 3s;
}


#container {
    margin: 0 10px; 
}

/* Mobile styles (up to 600px) */
@media all and (min-width: 600px) {
    #container {
        margin: 0 15px; 
    }
}

/* Minimum width for larger tablets and small laptops (992px and up) */
@media all and (min-width: 992px) {
    #container {
        width: 80%; 
        margin: 0 auto; 
    }
}

/* Minimum width for large desktops (1200px and up) */
@media all and (min-width: 1200px) {
    #container {
        width: 70%; /* Even narrower container on very large screens */
        margin: 0 auto; 
    }
}
