html, body {
  margin: 0;
  padding: 0;
  height: 100%; 
}

body {
  overflow-x: hidden; 
  background: rgb(250, 210, 232); 
  background: linear-gradient(180deg, rgba(250, 210, 232, 1) 0%, rgba(255, 255, 255, 1) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  
}

html {
  font-size: 1em;
  line-height: 1.4em;
}

.container {
  position: relative;
  max-width: 700px;
  width: 100%;
  padding: 25px;
  border-radius: 8px;

}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-start; 
  position: absolute; 
  top: 0;
  left: 0;
  padding: 10px;
  z-index: 10; 
}


.home-button {
  display: inline-block;
  text-decoration: none; 
}

.logo {
  width: 55px; 
  height: auto;
}

header {
  font-family: 'Apple Garamond', sans-serif;
}

p {
  font-family: 'Apple Garamond Light', sans-serif;
  font-size: 1.2em; 
  line-height: 1.6em; 
  max-width: 1300px;  
  margin: 20px auto;  
}


.ydm {
  display: flex;
  flex-direction: column;  
  justify-content: center;  
  align-items: center;     
  text-align: center; 
  height: 100vh;  
  width: 100%;    
  padding: 20px;          
  background: rgb(250, 210, 232); 
  background: linear-gradient(180deg, rgba(250, 210, 232, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

.researchone {
  position: absolute;
  top: 100px;
  left: 20px;
  text-align: left;
  

}

.researchtwo {
  position: absolute;
  top: 750px;
  left: 20px;
}

.researchthree {

  position: absolute;
  top: 1150px;
  left: 20px;
}

.hprograms {
  position: relative;
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
  top: 100px;
  margin-bottom: 40px; 
  padding-bottom: 50px;
}


.mentorshippic,
.bookspic,
.housingpic {
  padding-top: 50px;
  margin-bottom: 50px;  
  display: inline-block;
  text-decoration: none; 
}

.pinterest1 {
  position: absolute;
  top: 200px;
  left: 150px;
  border: 5px solid #FFFFFF;
  vertical-align: middle; 
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}

.pinterest2 {
  position: absolute;
  top: 200px;
  left: 150px;
  border: 5px solid #FFFFFF;
  vertical-align: middle; 
  box-sizing: border-box; 
  margin: 0;
  padding: 0;

}

.pinterest3 {
  position: absolute;
  top: 200px;
  left: 150px;
  border: 5px solid #FFFFFF;
  vertical-align: middle; 
  box-sizing: border-box; 
  margin: 0;
  padding: 0;

}

.mentorshiptitle {
  position: absolute;
  top: 200px;
  left: 500px;

}

.booktitle {
  position: absolute;
  top: 200px;
  left: 500px;


}

.housingtitle {
  position: absolute;
  top: 200px;
  left: 500px;
  padding-right: 100px;

}

.housingtitle p {
  font-size: 16px;
}

.aboutustitle {
  position: absolute;
  top: 100px;
  left: 100px;

}


.aboutustitle p {
  padding-right: 30px;
}

.whyustitle {
  position: absolute;
  top: 400px;
  left: 100px;
}

figure {
  display: flex;
  flex-wrap: wrap;          /* Allow images to wrap on smaller screens */
  justify-content: center;  /* Center the images horizontally */
  gap: 20px;  
}

a {
  text-decoration: none; 
  color: inherit;       
}


.pic-container {
  text-align: center;
  width: 300px; 
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.pic-container img {
  width: 100%;  
  height: auto;
  object-fit: cover;  
  border: 5px solid #FFFFFF;  
  margin-bottom: 15px; 
}


.pic-container p {
  font-family: 'Apple Garamond Light', sans-serif;
  font-size: clamp(1rem, 2vw + 1rem, 1.2rem); 
  line-height: 1.6em;
  color: black;
  padding: 0 10px;  
  max-width: 100%;
  word-wrap: break-word;
  text-align: center;
  margin: 0;
}


.mentorshippic {
  width: 100%;               /* Make the image take up the full container width */
  height: auto;              /* Ensure the image maintains its aspect ratio */
  max-height: 100%;          /* Prevent the image from overflowing */
  object-fit: contain;       /* Ensure the entire image fits inside the container */
  vertical-align: middle;    /* Align vertically if using inline-block */
  box-sizing: border-box;    /* Prevent padding from affecting size */
  margin: 0;
  padding: 0;
  display: block;  
}

.bookspic {
  border: 5px solid #FFFFFF;
  vertical-align: middle; 
  box-sizing: border-box; 
  margin: 0;
  padding: 0;

}

.housingpic {
  border: 5px solid #FFFFFF;
  vertical-align: middle; 
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}
.mentorshippic, .bookspic, .housingpic {
  width: 100%;              /* Make images take up the full container width */
  height: auto;             /* Ensure images maintain aspect ratio */
  vertical-align: middle;   /* Center vertically if using inline-block */
  box-sizing: border-box;   /* Prevent padding from affecting size */
  margin: 0;
  padding: 0;
  display: block;           /* Make sure they are block-level */
}

.mentorshiptitle p {
  font-size: 16px;
  margin-top: 40px;
  margin-right: 90px;
  padding-right: 100px;
  word-wrap: break-word;
}

.memorialtitle {
  position: absolute;
  top: 100px;
  left: 100px;
}

img {
  margin: 0;
  padding: 0;
  display: block; 
  width: 300px;
  height: 300px;

}

.mila {
  border: 5px solid #FFFFFF;
  vertical-align: middle; 
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
  position: absolute;
  top: 300px;
  right: 100px;
}

.add-to-cart {
  padding: 10px 60px;
  font-size: 18px;
  background-color: #cfcfcf; 
  color: black;  
  border: 2px solid white;  
  cursor: pointer; 
  border-radius: 2px;  
  transition: background-color 0.3s ease;  
  font-family: Apple Garamond, serif;
  position: absolute;
  top: 450px;
  left: 500px;
}


.add-to-cart:hover {
  background-color: white;  
}

a.learn-more {
  color: #3498db;
  text-decoration: none;
  font-weight: bold;
}

a.learn-more:hover {
  color: #2980b9; 
}


a.register-here {
  color: #3498db;
  text-decoration: none;
  font-weight: bold;
}

a.register-here:hover {
  color: #2980b9; 
}

nav[aria-labelledby="navigate"] {
  color: black;
  font-size: 16px;
  font-weight: 900; 
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute; 
  top: 0; 
  right: 0;     
  z-index: 10;  
  font-family: 'Apple Garamond', sans-serif;
  text-transform: uppercase;
}


nav[aria-label="mentorship"],
nav[aria-label="books"],
nav[aria-label="housing"] {
  font-family: 'Apple Garamond', sans-serif;
  font-size: 1.6em;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px; 
}

nav ul {
  text-decoration: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

nav li {
  display: inline-block;
  margin: 0 15px;
  text-decoration: none;

}

nav a {
  color: black !important;
  font-size: 16px;
  text-decoration: none;
}


nav a:hover {
  text-decoration: none;
}


.container header {
  font-size: 1.5rem;
  color: #333;
  font-weight: 700;
  text-align: center;
  padding-top: 200px;
}
.container .form {
  margin-top: 30px;
}
.form .input-box {
  width: 100%;
  margin-top: 20px;
}
.input-box label {
  color: #333;
}
.form :where(.input-box input, .select-box) {
  position: relative;
  height: 50px;
  width: 100%;
  outline: none;
  font-size: 1rem;
  font-family: Apple Garamond, serif;
  color: #707070;
  margin-top: 8px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 0 15px;
}
.input-box input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.form .column {
  display: flex;
  column-gap: 15px;
}
.form .gender-box {
  margin-top: 20px;
}
.gender-box h3 {
  color: #333;
  font-size: 1rem;
  font-weight: 400;
  font-family: Apple Garamond, serif;
  margin-bottom: 8px;
}
.form :where(.gender-option, .gender) {
  display: flex;
  align-items: center;
  column-gap: 50px;
  flex-wrap: wrap;
}
.form .gender {
  column-gap: 5px;
}
.gender input {
  accent-color: rgb(130, 106, 251);
}
.form :where(.gender input, .gender label) {
  cursor: pointer;
}
.gender label {
  color: #707070;
}
.address :where(input, .select-box) {
  margin-top: 15px;
}
.select-box select {
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
  color: #707070;
  font-size: 1rem;
}
.form button {
  height: 55px;
  width: 100%;
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  font-family: Apple Garamond, serif;
  margin-top: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  background: rgb(130, 106, 251);
}
.form button:hover {
  background: rgb(88, 56, 250);
}

/* Media Queries for larger screens */

@media all and (max-width: 649px) {


p {
    font-size: 14px;  
    padding: 0 10px;  
}

.researchone {
  position: absolute;
  top: 100px;
  left: 20px;
  text-align: left;
  

}

.researchtwo {
  position: absolute;
  top: 1150px;
  left: 20px;
}

.researchthree {

  position: absolute;
  top: 1750px;
  left: 20px;
}

figure {

  display: block; 
    text-align: center;
}


.pic-container {
  width: 100%; 
  margin-bottom: 30px;
}

.pic-container p {
  font-size: clamp(1rem, 4vw + 1rem, 1.2rem); 
  max-width: 100%;  
}

.form .column {
  flex-wrap: wrap;
}
.form :where(.gender-option, .gender) {
  row-gap: 15px;
}

.aboutustitle {
  position: absolute;
  top: 100px;
  left: 100px;

}


.aboutustitle p {
  padding-right: 30px;
}

.whyustitle {
  position: absolute;
  top: 550px;
  left: 100px;
}

.mentorshippic, .bookspic, .housingpic {
  width: 100%;           /* Make images take up full width on small screens */
  margin-bottom: 20px;   /* Add spacing between stacked images */
}

.mentorshippic {
 
}

}

/* For laptops and up (769px and above) */
@media all and (min-width: 650px) {
  /* Adjustments for larger screens can be added here */

  figure {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;  
   

  }

  
}

/* For desktop screens (1024px and above) */
@media all and (min-width: 1024px) {

  /* Add any further adjustments for desktop screens here */
}