/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}




body {
	
	
}


#container {
}


h1,h2{
	text-align: center;
	margin: 10 auto;
	padding: 5px;
	font-family: "Rubik Bubbles", system-ui;
  font-weight: 400;
  font-style: normal;
	}

p {
	/*border-style: outset;*/
	border-width: 5px;
	border-color: black;
	border-radius: 10px;
	text-align: center;
	margin: 0 auto;
	padding: 2em;
	width: 900px;
	background: white;
	position: relative;
	 font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight:400;
  font-style: normal;
	
	}
	
	
	@property --angle {
		syntax: "<angle>";
		initial-value: 0deg;
		inherits: false;
		}
	
	
p:after, p:before{
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	background-image: conic-gradient(from var(--angle),#eb94b7,#94b1eb,#eb94b7,#94b1eb,#eb94b7);
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	z-index: -1;
	padding: 3px;
	border-radius: 10px;
	animation: 3s spin linear infinite;
	}

p:before {
	filter: blur(1.5rem)
	}

footer {
	text-align: right;
	font-size: .8em;
	padding: 10px;
	position: relative;
	}
	
	@keyframes spin {
		from {
			--angle: 0deg;
			}
		to {
			--angle: 360deg;
			}
		
		}