/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}




body {
  font-family: "Bowlby One", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #f0d4a3;
	
	
}
	
}


#container {
	position:relative;
	width: 900px;
    margin: auto;
}



span.struc {
	position: absolute;
	top: 630px;
	left: -150px;
	font-size: 6em;
	rotate: 90deg;
	color: #a62832;
	
	}
	
	span.ture {
		position: absolute;
		top: 850px;
		left: 1px;
		font-size: 6em;
		color: #a62832;
		}
		
			span.ture {
		position: absolute;
		top: 850px;
		left: 1px;
		font-size: 6em;
		color: #a62832;
		}
		
		
	span.me {
		position: relative;
		top: 530px;
		right: -5px;
		font-size: 50em;
		color: #a62832;
		text-shadow: 1px -200px #bf2e39, 1px -400px #ed3745;
	

		}
		

		span.meme {
			position: relative;
			top: 200px;
			right: -350px;
			color: #f0d4a3;
			
			}
			
			span.structureme {
				position: relative;
				font-size: 15em;
				right: -200px;
				rotate: -90deg;
				color: white;
				line-height: .5em;
				opacity: .5;
				}